html, body, figure, figcaption, ul, li, h1, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  background: #ccc;
}

button {
  background: #2F4F4F;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  padding: 4px 7px;
  cursor: pointer;
  outline: 0;
}

button#cancel {
  background: #ABABAB;
  color: black;
  border: 1px solid black;
}

button:active {
  background: #1c2f2f;
}

div.snake-game {
  margin: 0 auto;
  width: 720px;
  border-top: 8px solid #aaa;
  border-left: 8px solid #999;
  border-right: 8px solid #888;
  border-bottom: 8px solid #888;
}

div.game-board {
  width: 490px;
  height: 490px;
  float: left;
}

ul.grid {
  position: relative;
  border: 5px solid black;
  background: #eee;
  width: 480px;
  height: 480px;
}

ul.grid > li {
  position: relative;
  float: left;
  width: 15px;
  height: 15px;
  opacity: 0;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  transition: opacity .05s;
}

ul.grid > li.snake-segment1 {
  background: brown;
  opacity: 1;
  transition: opacity .05s;
}

ul.grid > li.snake-segment2 {
  background: blue;
  opacity: 1;
  transition: opacity .05s;
}

ul.grid > li.snake-segment3 {
  background: purple;
  opacity: 1;
  /*transition: opacity .1s;*/
}

ul.grid > li.headN {
  border-radius: 50% 50% 0 0
}

ul.grid > li.headE {
  border-radius: 0 50% 50% 0;
}

ul.grid > li.headS {
  border-radius: 0 0 50% 50%;
}

ul.grid > li.headW {
  border-radius: 50% 0 0 50%;
}

.score-boards {
  position: relative;
  height: 470px;
  width: 220px;
  padding: 20px 0 0 10px;
  z-index: 5;
  float: left;
  background: black;
}

.score-board1 {
  color: brown;
}

.score-board2 {
  color: blue;
}

.score-board3 {
  color: purple;
}

ul.grid > li.snake-apple {
  background: green;
  border-radius: 40%;
  opacity: 1;
  transition: opacity .1s;
}

div.game-over-modal {
  position: absolute;
  width: 100%;
  top: 200px;
}

div.game-over {
  background: #aaa;
  margin: 0 20%;
  width: 200px;
  padding: 10px 20px;
  border-radius: 2px;
  border: 2px solid black;
}

div.game-over * {
  opacity: 1;
}

div.game-over > button {
  background: #aa7243;
  margin: 3px;
}

div.game-over > button:active {
  background: #7a5230;
}

div.challenge-modal,
div.splash-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.hidden {
  display: none;
}

div.modal-screen {
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.modal-content {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  display: block;
  z-index: 10;
}

div.modal-form {
  width: 70%;
  margin: 0 auto;
  padding: 5px 0;
}

input#challenge {
  font-size: 24px;
}

div.challenge-modal.active {
  display: block;
}

div.splash-modal {
  display: block;
}
