html, body, figure, figcaption, ul, li, h1, div.game-over button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  background: #ccc;
}

ul.grid {
  margin: 0 auto;
  position: relative;
  border: 5px solid black;
  background: #eee;
  width: 600px;
  height: 600px;
}

ul.grid > li {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity .1s;
}

ul.grid > li.snake-segment1 {
  background: brown;
  opacity: 1;
  transition: opacity .1s;
}

.score-board1,
.score-board2,
.score-board3 {
  position: absolute;
  right: 30px;
  top: 50px;
  z-index: 5;
}

.score-board1 {
  color: brown;
  top: 50px;
}

.score-board2 {
  color: blue;
  top: 150px;
}

.score-board3 {
  color: purple;
  top: 250px;
}

ul.grid > li.snake-segment2 {
  background: blue;
  opacity: 1;
  transition: opacity .1s;
}

ul.grid > li.snake-segment3 {
  background: purple;
  opacity: 1;
  transition: opacity .1s;
}

ul.grid > li.snake-apple {
  background: green;
  border-radius: 40%;
  opacity: 1;
  transition: opacity .1s;
}

div.game-over-modal {
  position: absolute;
  width: 100%;
  top: 200px;
}

div.game-over {
  background: #aaa;
  margin: 0 auto;
  width: 200px;
  padding: 10px 20px;
  border-radius: 2px;
  border: 2px solid black;
}

div.game-over * {
  opacity: 1;
}

div.game-over > button {
  background: #aa7243;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  margin: 3px;
}

div.game-over > button:active {
  background: #7a5230;
}

div.challenge-modal,
div.splash-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

div.modal-screen {
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.modal-content {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  display: block;
  z-index: 10;
}

div.modal-form {
  background: white;
  width: 70%;
  margin: 0 auto;
  padding: 5px 0;
  border: 1px solid #ccc;
}

input#challenge {
  font-size: 24px;
}

div.challenge-modal.active {
  display: block;
}

div.splash-modal {
  display: block;
}
